/* STANDART SETTINGS */

body {
    font-size: 14px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    text-align: justify;
    text-justify: center;
    text-shadow: white 0px 0px 2px;
    margin: 0;
}

/* BACKGROUNG IMG */

.bg-container {

    background-image: url('./images/bluebg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 800px;
    height: 600px;
   
}

/* 'Defeating Jasmine' HEADERS */

.header-start {
    margin-top: 0;
    font-size: 40px;
    margin-left:200px;
    padding-top: 32px;
    color: purple;
}

.header-gameover {
    margin-top: 0;
    font-size: 35px;
    padding-top: 20px;
    padding-left: 30%;
    color: purple;
}

/* CONTENT TEXT SPLASH & GAME OVER SCREENS */

.text {
    font-size: 20px;
    margin-left:80px;
    text-align: left;
    padding-top: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}  


/* START & RESTART BUTTONS */

.buttons{
    cursor: pointer;
    display: flex;
    align-items: center;
    float: right;
    padding-right: 15%;
    width: 150px; 
    height: 75px;
}


/* GAME OVER SCREEN */

.game-over {
    width: 40%;
    display:flex;
    align-items: center;
    float:initial;
    padding-left: 30%;
    padding-top: 5%;
    
}

/* HIDDEN FEATURE */

.hidden {
  display:none;
}